<!DOCTYPE html>
<html>
<head lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Juros Online</title>
<link rel="stylesheet" href="/resources/bower_components/pure/pure.css">
<link rel="stylesheet" href="/resources/bower_components/pure/grids-responsive.css">
<link rel="stylesheet" href="/resources/public/css/pure-theme.css">
<link rel="stylesheet" href="/resources/public/css/calories-tracker.css">
<!-- <link rel="stylesheet" href="/resources/bower_components/bootstrap-3.2.0-dist/css/bootstrap.min.css">  -->
</head>

<body class="pure-skin-theme" id="caloriesCounterApp" ng-controller="CaloriesTrackerCtrl">

    <div class="please-wait-dialog" ng-hide="vm.appReady">
        <img class="please-wait-spinner" src="/resources/img/loading.gif">
    </div>

    <header class="page-header pure-g not-ready" ng-class="{'app-ready': vm.appReady}">
        <div class="pure-u-lg-1-2 pure-u-1">

            <a class="pure-menu-heading" href="#"> <img class="logo"
                src="/resources/img/juros-simples.jpg">
            </a> <span class="header-element page-title">Juros online</span>

            <div>
                <div>
                </div>
            </div>

        </div>
        <div class="pure-u-lg-1-2 pure-u-1 utilities">
            <div class="header-element">
            </div>
            <div class="header-element username">
                <div class="username-placeholder" ng-hide="vm.userName"></div>
                <span ng-cloak>{{vm.userName}}</span>
            </div>
            <div class="header-element">
                <a class="logout" href="#" ng-click="logout()">Logout</a>
            </div>
        </div>
    </header>

    <main class="container not-ready" ng-class="{'app-ready': vm.appReady}" ng-cloak>
       
       <tt-error-messages></tt-error-messages>

    <div class="info-messages"
        ng-style="{'opacity': vm.infoMessages.length > 0 ? 1 : 0, 'z-index': vm.infoMessages.length > 0 ? 10 : -10}">
        <img class="info-icon" src="/resources/img/info-icon.png">
        <div class="messages-group">
            <div ng-repeat="info in vm.infoMessages">{{info.description}}</div>
        </div>
    </div>

    <form class="pure-form pure-form-aligned search-form" name="formJuros" novalidate>
        <div class="form-group row-fluid">
            <fieldset>
              <legend>Calcular Juros</legend>
                <div>
                    <strong> Tipo de Juros: </strong>
                    <span ng-model="dadosCalcJuros.tipo">
                         <label class="radio">
                          <input type="radio" name="tipo" id="radioSimp" value="S" ng-model="dadosCalcJuros.tipoJuros" checked> 
                          Simples
                        </label>
                        <label class="radio">
                          <input type="radio" name="tipo" id="radioComp" value="C" ng-model="dadosCalcJuros.tipoJuros">
                           Compostos
                        </label>
                    </span>
                </div>
                <br/>
                <div class="form-field">
                    <strong><span> * </span> Capital Inicial: </strong>
                    <input type="text" name="capitalInicial" class="money capitalInicial" ng-model="dadosCalcJuros.capitalInicial" maxlength="16" size="16" 
                      placeholder="Informe o valor" required>
                    <div class="error-messages" ng-messages="formJuros.capitalInicial.$error">
                       <span ng-message="required" ng-show="vm.submitted && formJuros.capitalInicial.$error.required">Campo obrigat&oacute;rio</span>
                    </div>
                    <br/>
                </div>
                <br/>
                <div class="form-field">
                    <strong><span> * </span> Taxa de Juros (%): </strong>
                   <input type="text" class="money txJuros" name="txJuros" ng-model="dadosCalcJuros.txJuros" maxlength="16" size="16"
                        placeholder="Informe a taxa" required>
                    <div class="error-messages" ng-messages="formJuros.txJuros.$error">
                       <span ng-message="required" ng-show="vm.submitted && formJuros.txJuros.$error.required">Campo obrigat&oacute;rio</span>
                    </div>
                </div>
                <br/>
                <div class="form-field">
                    <span class="pure-u-1 pure-u-md-1-3">
                        <strong><span> * </span> Tempo: </strong>
                       <input type="number" name="tempo" ng-model="dadosCalcJuros.tempo" max="999999" size="6"
                            placeholder="Informe o tempo" required>
                        <div class="error-messages" ng-messages="formJuros.tempo.$error">
                           <span ng-message="required" ng-show="vm.submitted && formJuros.tempo.$error.required">Campo obrigat&oacute;rio</span>
                        </div>
                    </span>
                    <span class="pure-u-1 pure-u-md-1-3">
                     <select id="tempoEmp" class="pure-input-1-2" ng-model="dadosCalcJuros.tempoEmprestDTO.tipoTempoJuros" required>
                        <option checked>M&ecirc;s</option>
                        <option>Ano</option>
                        <option>Dias</option>
                     </select>
                  </span>
                </div>
                
            </fieldset>
        </div>

        <fieldset>
            <legend>Resultado</legend>
            <div>
                <strong> Juros: </strong>
                <span>{{resultadoCalcJuros.juros}}</span>
            </div>
            <div>
                <strong> Montante: </strong>
                <span>{{resultadoCalcJuros.montante}}</span>
            </div>
        </fieldset>
        
        <div class="form-separator"></div>

        <div class="main-controls">
            <button type="button" ng-click="calcularJuros()" class="pure-button pure-button-primary" name="btnCalcula">Calcular</button>
            <button type="submit" class="pure-button" ng-click="reset()">Salvar</button>
            <button type="reset" class="pure-button" ng-click="reset()">Limpar</button>
        </div>

    </form>

    

    </main>

    <script type="text/javascript" data-main="/resources/js/run-calories-tracker" src="/resources/bower_components/requirejs/require.js"></script>
</body>
</html>