<!DOCTYPE html>
<html>

    <head lang="en">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>S&eacute;rie de Pagamentos: Valor Futuro</title>
        <link rel="stylesheet" href="/resources/bower_components/bootstrap-3.3.7-dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/resources/public/css/engenharia-economica.css">
    </head>
    
    <body id="seriePagamentosVlrFuturoApp" ng-controller="SeriePagamentosVlrFuturoCtrl">
    
       <main class="container">
       
          <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Engenharia Econ&ocirc;mica</a>
              </div>
              <div id="navbar" class="navbar-collapse collapse">
                  <form class="navbar-form navbar-right">
                    <div class="header-element username">
                        <div class="username-placeholder" ng-hide="vm.userName"></div>
                        <span ng-cloak>{{vm.userName}}</span>
                    </div>
                    <div class="header-element">
                        <a class="logout" href="#" ng-click="logout()">Logout</a>
                    </div>
                  </form>
                </div>
            </div>
          </nav>
          
          <br />
          <br />
          <br />
          <br />
          
          <form class="form-horizontal" name="formSeriePagamentosVlrFuturo" novalidate>
          
            <fieldset class="row">
                <legend><h1 class="text-center success">S&eacute;rie de Pagamentos: Valor Futuro</h1></legend>
                
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="obrigatorio"> * </span> Qual valor deseja descobrir? </label>
                    <div class="row col-sm-3">
                        <select name="vrDescobrir" ng-model="dadosCalcSeriePgVlrFuturo.vrDescobrir" class="form-control" ng-change="definirLabelResultado()" required>
					      <option value="VR">Valor a ser Resgatado</option>
					      <option value="QD">Quantidade de Dep&oacute;sitos</option>
					      <option value="VD">Valor do Dep&oacute;sito</option>
					    </select>
                    </div>
                    <div class="error-messages col-md-2" ng-messages="formSeriePagamentosVlrFuturo.vrDescobrir.$error" ng-cloak>
                       <span ng-message="required" ng-show="vm.submitted && formSeriePagamentosVlrFuturo.vrDescobrir.$error.required">Campo obrigat&oacute;rio</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="obrigatorio"> * </span> Valor a ser Resgatado </label>
                    <div class="input-group col-sm-2">
                      <span class="input-group-addon">R$</span>
                      <input type="text" name="vlrResgatado" class="form-control" mask-money ng-disabled="dadosCalcSeriePgVlrFuturo.vrDescobrir == 'VR'"
                           ng-model="dadosCalcSeriePgVlrFuturo.vlrResgatado" ng-model-options="{updateOn: 'keyup'}" maxlength="16" size="16" placeholder="Informe o valor"
                           ng-required="dadosCalcSeriePgVlrFuturo.vrDescobrir != 'VR'">
                    </div>
                    <div class="error-messages col-md-2" ng-messages="formSeriePagamentosVlrFuturo.vlrResgatado.$error" ng-cloak>
                       <span ng-message="required" ng-show="vm.submitted && formSeriePagamentosVlrFuturo.vlrResgatado.$error.required">Campo obrigat&oacute;rio</span>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="obrigatorio"> * </span> Quantidade de Dep&oacute;sitos </label>
                    <div class="row col-sm-2">
                       <input type="text" class="form-control" name="qtdDepositos" ng-model="dadosCalcSeriePgVlrFuturo.qtdDepositos" maxlength="6" size="6" 
                        mask-inteiro ng-model-options="{updateOn: 'keyup'}" placeholder="Informe o valor" ng-disabled="dadosCalcSeriePgVlrFuturo.vrDescobrir == 'QD'"
                        ng-required="dadosCalcSeriePgVlrFuturo.vrDescobrir != 'QD'">
                    </div>
                    <div class="error-messages col-md-2" ng-messages="formSeriePagamentosVlrFuturo.qtdDepositos.$error" ng-cloak>
                       <div ng-message="required" ng-show="vm.submitted && formSeriePagamentosVlrFuturo.qtdDepositos.$error.required">Campo obrigat&oacute;rio</div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="obrigatorio"> * </span> Valor do Dep&oacute;sito </label>
                    <div class="input-group col-sm-3">
                      <span class="input-group-addon">R$</span>
                      <input type="text" name="vlrDeposito" class="form-control" mask-money ng-model="dadosCalcSeriePgVlrFuturo.depositoDTO.vlrDeposito" maxlength="16" 
                            size="16" ng-model-options="{updateOn: 'keyup'}" placeholder="Informe o valor" 
                            ng-disabled="dadosCalcSeriePgVlrFuturo.vrDescobrir == 'VD'" ng-required="dadosCalcSeriePgVlrFuturo.vrDescobrir != 'VD'">
                      <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" id="btnDropTemp" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            ng-disabled="dadosCalcSeriePgVlrFuturo.vrDescobrir == 'VD'">
                            M&ecirc;s <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                          <li><a href="#" ng-click="dadosCalcSeriePgVlrFuturo.depositoDTO.tipoTempoDepositos='M'" trocar-text-tempo-deposit>M&ecirc;s</a></li>
                          <li><a href="#" ng-click="dadosCalcSeriePgVlrFuturo.depositoDTO.tipoTempoDepositos='A'" trocar-text-tempo-deposit>Ano</a></li>
                          <li><a href="#" ng-click="dadosCalcSeriePgVlrFuturo.depositoDTO.tipoTempoDepositos='D'" trocar-text-tempo-deposit>Dias</a></li>
                        </ul>
                      </div>
                    </div>
                    
                    <div class="error-messages col-md-2" ng-messages="formSeriePagamentosVlrFuturo.vlrDeposito.$error" ng-cloak>
                       <div ng-message="required" ng-show="vm.submitted && formSeriePagamentosVlrFuturo.vlrDeposito.$error.required">Campo obrigat&oacute;rio</div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="obrigatorio"> * </span> Taxa </label>
                    <div class="input-group col-sm-2">
                      <input type="text" class="form-control" name="vlrTaxa" ng-model="dadosCalcSeriePgVlrFuturo.taxaDTO.vlrTaxa" mask-money 
                            ng-model-options="{updateOn: 'keyup'}" maxlength="9" size="9" placeholder="Taxa" required>
                      <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" id="btnDropTempTaxa" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            M&ecirc;s <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" id="tempo">
                          <li><a href="#" ng-click="dadosCalcSeriePgVlrFuturo.taxaDTO.tipoTempoTaxa='M'" trocar-text-tempo-taxa>M&ecirc;s</a></li>
                          <li><a href="#" ng-click="dadosCalcSeriePgVlrFuturo.taxaDTO.tipoTempoTaxa='A'" trocar-text-tempo-taxa>Ano</a></li>
                          <li><a href="#" ng-click="dadosCalcSeriePgVlrFuturo.taxaDTO.tipoTempoTaxa='D'" trocar-text-tempo-taxa>Dias</a></li>
                        </ul>
                      </div>
                    </div>
                    
                    <div class="error-messages col-md-2" ng-messages="formSeriePagamentosVlrFuturo.vlrTaxa.$error" ng-cloak>
                       <div ng-message="required" ng-show="vm.submitted && formSeriePagamentosVlrFuturo.vlrTaxa.$error.required">Campo obrigat&oacute;rio</div>
                    </div>
                </div>
                 
               <div class="form-group text-center">
                   <button type="submit" ng-click="calcularSeriePagamentosVlrFuturo($event)" class="btn btn-primary" name="btnCalcula" title="Realizar c&aacute;lculos">
                       <span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span>
                   </button>
                   <button type="button" class="btn btn-default" ng-click="limparDadosInformados()" title="Limpar dados informados">
                      <span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
                   </button>
                   <button type="button" class="btn btn-default" title="Voltar para tela inicial" ng-click="sairDaTela()">
                       <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                   </button>
               </div>
                 
            </fieldset>

            <fieldset class="row">
                <strong><legend>Resultado</legend></strong>
                <div class="well">
                   <label ng-cloak>{{vm.labelResultado}}</label>
                   <span ng-cloak>{{resultadoCalcSeriePg.resultado}}</span>
                </div>
            </fieldset>
                
        </form>
       </main>
       
       <script type="text/javascript" data-main="/resources/js/run-apps/run-serie-pagamentos-vlr-futuro.js" src="/resources/bower_components/requirejs/require.js" async></script>
    
    </body>
</html>